*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
calendar_library/build/generated/assets/
calendar_library/build/generated/res/
calendar_library/build/generated/source/aidl/
calendar_library/build/generated/source/apt/
calendar_library/build/generated/source/rs/
calendar_library/build/intermediates/annotations/
calendar_library/build/intermediates/bundles/debug/aidl/
calendar_library/build/intermediates/bundles/debug/assets/
calendar_library/build/intermediates/bundles/debug/classes.jar
calendar_library/build/intermediates/bundles/debug/jni/
calendar_library/build/intermediates/bundles/debug/libs/
calendar_library/build/intermediates/bundles/release/aidl/
calendar_library/build/intermediates/bundles/release/assets/
calendar_library/build/intermediates/bundles/release/jni/
calendar_library/build/intermediates/bundles/release/libs/
calendar_library/build/intermediates/classes/androidTest/
calendar_library/build/intermediates/classes/debug/
calendar_library/build/intermediates/dependency-cache/
calendar_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/assets/
calendar_library/bu
ild/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/aidl/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/assets/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/jni/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/libs/
calendar_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/res/
calendar_library/build/intermediates/exploded-aar/uk.co.chrisjenx/calligraphy/2.2.0/aidl/
calendar_library/build/intermediates/exploded-aar/uk.co.chrisjenx/calligraphy/2.2.0/assets/
calendar_library/build/intermediates/exploded-aar/uk.co.chrisjenx/calligraphy/2.2.0/jni/
calendar_library/build/intermediates/exploded-aar/uk.co.chrisjenx/calligraphy/2.2.0/libs/
calendar_library/build/intermediates/incremental-safeguard/androidTest/
calendar_library/build/intermediates/incremental-safeguard/debug/
calendar_library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
calendar_library/build/intermediates/incremental/mergeDebugJniLibFolders/
calendar_library/build/intermediates/incremental/mergeDebugResources/aapt-temp/
calendar_library/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
calendar_library/build/intermediates/incremental/packageDebugResources/aapt-temp/
calendar_library/build/intermediates/incremental/packageReleaseResources/aapt-temp/
calendar_library/build/intermediates/incremental/processDebugAndroidTestResources/
calendar_library/build/intermediates/incremental/processDebugResources/
calendar_library/build/intermediates/incremental/processReleaseResources/
calendar_library/build/intermediates/jniLibs/
calendar_library/build/intermediates/lint/
calendar_library/build/intermediates/manifest/tmp/
calendar_library/build/intermediates/rs/
calendar_library/build/intermediates/shaders/
calendar_library/build/intermediates/transforms/
calendar_library/build/tmp/
signature_pad_library/
sliding_panel_library/
