<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="admin4.techelm.com.techelmtechnologies">

    <!-- Network Access to get JSON Object from APIs -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- File Management -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!--android:hardwareAccelerated="true"-->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.login.LoginActivity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.menu.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.service_report_fragment.fragment.ServiceReport_TaskCompleted_5"
            android:label="@string/title_activity_service_report__task_completed"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.menu.MainActivity"/>
        </activity>

        <activity
            android:name=".activity.service_report_fragment.ServiceJobViewPagerActivity"
            android:label="SAMPLE VIEW PAGER"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.App"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:value=".activity.menu.MainActivity" />
        <activity android:name=".activity.webview.WebViewActivity"/>

        <activity
            android:name=".activity.projectjob_main.fragment.ProjectJobViewPagerActivity"
            android:label="Project Jobs"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.toolbox_meeting_main.fragment.ToolboxMeetingPagerActivity"
            android:label="Toolbox meeting"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".webservice.EmailWebserviceActivity"
            android:label="Webservice"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".utility.pdf.PDFClass_Activity"
            android:label="Webservice"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utility.volley_multipart.VolleyMainActivity"
            android:label="Webservice"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utility.sample_upload.SampleUploadActivity"
            android:label="Webservice"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".webservice.WebserviceActivity"
            android:label="Webservice"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.service_report.ServiceReport_1"
            android:label="@string/title_activity_service_report"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.service_report.RecordingActivity2"
            android:label="@string/title_activity_service_report"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.service_report.PartReplacement_2"
            android:label="@string/title_activity_part_replacement"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.service_report.AddReplacementPart_3"
            android:label="@string/title_activity_add_replacement_part"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.service_report.SigningOff_4"
            android:label="@string/title_activity_service_report__task_completed"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utility.image_download.DownloadImageActivity"
            android:label="Image Download"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name="admin4.techelm.com.techelmtechnologies.utility.RecordingService" />

    </application>
</manifest>